body {
  background-color: #f7f7f7;
  font-family: "Arial", sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}

.main_box {
  width: 500px;
  margin: 30px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #4a90e2;
  font-weight: bold;
  font-size: 30px;
  border-bottom: 1px solid gray;
  padding: 20px 0px;
  margin: 0 30px;
}
.main_in li {
  list-style: none;
  border-bottom: 1px solid #6764645c;
  margin: 5px 0px;
  padding: 10px 0px;
}
.main_in ul {
  padding-right: 40px;
  margin: 30px 0;
}
.main_in {
  margin-top: 20px;
}

#todo_list button {
  padding: 4px 8px;
  font-size: 14px;
  background-color: #202020;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  float: right;
  margin-left: 5px;
  bottom: 5px;
  position: relative;
}

#todo_list #del:hover {
  background-color: #8d3333;
  transform: scale(1.05);
}

#todo_list #change:hover {
  background-color: #4a90e2;
  transform: scale(1.05);
}

#todo_list span {
  margin-left: 10px;
}
#check {
  margin: 0;
  top: 2px;
  position: relative;
}
.send {
  margin: 0 auto;
  width: 300px;
  text-align: center;
}

#todoAdd {
  padding: 7px;
  font-size: 16px;
  border: 2px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  color: #777;
  transition: all 0.3s ease;
  margin-right: 10px;
}

#todoAdd:focus {
  border-color: #4a90e2;
  outline: none;
  background-color: #fff;
}

#addBtn {
  padding: 5px 10px;
  font-size: 20px;
  background-color: #e3e3e380;
  color: black;
  border: none;
  cursor: pointer;
  top: 2px;
  position: relative;
}
